In [40]:
import scattertext as st
import spacy
from pprint import pprint
import pandas as pd

In [41]:
review = open("review1.txt","r")

reviews = [q for q in review]
reviews = reviews[:2000]

df1 = pd.DataFrame(reviews,columns = ["Text"])
df1['category'] = "office"
df1.head()

                                                Text category
0  This is an awesome resource to go with the TE ...   office
1  even though they were refurbished the colors w...   office
2  A good deal and I can make them work ok, BUT I...   office
3  Nice added stocking stuffer.  Beautiful additi...   office
4  Could not get the game to run.  I have Windows...   office

In [42]:
review = open("review2.txt","r")

reviews = [q for q in review]
reviews = reviews[:2000]

df2 = pd.DataFrame(reviews,columns = ["Text"])
df2['category'] = "food"
df2.head()

                                                Text category
0  No sugar, no GMO garbage, no fillers that come...     food
1  This is my absolute, undisputed favorite tea r...     food
2  I ordered spongbob slippers and I got John Cen...     food
3  The cart is fine and works for the purpose for...     food
4  This product by Archer Farms is the best drink...     food

In [43]:
temp = [df1, df2]
df = pd.concat(temp)
df.head()

                                                Text category
0  This is an awesome resource to go with the TE ...   office
1  even though they were refurbished the colors w...   office
2  A good deal and I can make them work ok, BUT I...   office
3  Nice added stocking stuffer.  Beautiful additi...   office
4  Could not get the game to run.  I have Windows...   office

In [44]:
print(df1.shape)
print(df2.shape)
print(df.shape)

(2000, 2)
(2000, 2)
(4000, 2)

In [45]:
nlp = spacy.load('en')
corpus = st.CorpusFromPandas(df, category_col='category', text_col='Text', nlp=nlp).build()

In [46]:
html = st.produce_scattertext_explorer(corpus, category='office', category_name='Office', not_category_name='Food', width_in_pixels=1000)
open("Reviews.html", 'wb').write(html.encode('utf-8'))

1241399